.details__title {
  width: 96.3px;
  height: 18px;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #222222;
  text-transform: uppercase;
}

.details hr {
  border: none;
  height: 3px;
  background-color: #f7f7f7;
}

.details {
  padding: 12px;
}

.details__content {
  font-size: 13px;
  line-height: 1.77;
  color: #444444;
  font-family: 'Montzerrat';
  font-weight: normal;
}

ul {
  padding-left: 18px;
}

@media (min-width: 768px) {
  .details {
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .details {
    width: 737px;
  }
}