.color-selector {
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 25px;
}

.color-selector__title {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #222;
  margin-bottom: 15px;
}

.color-selector__title strong {
  font-weight: 600;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 25.5px;
  box-sizing: border-box;
}

.color--selected {
  border: 3px solid #c9c9c9;
}

.color--naked-1 {
  background-color: #ffefe5;
}

.color--naked-2 {
  background-color: #dab5a1;
}

.color--naked-3 {
  background-color: #d49d89;
}

.color--naked-4 {
  background-color: #6a3a33;
}

.color--naked-5 {
  background-color: #524346;
}

@media (min-width: 768px) {
  .color-selector {
    padding-left: 30px;
    padding-right: 30px;
  }
}