.button {
  width: 351px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 600;
  border: none;
  box-shadow: none;
}

.button-container {
  text-align: center;
  margin-top: 19px;
}

@media (min-width: 768px) {
  .button {
    width: 708px;
  }
}

@media (min-width: 1024px) {
  .button {
    width: 351px;
  }

  .button-container {
    padding-left: 30px;
    text-align: initial;
  }
}