.stock {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #222;
}

.stock strong {
  font-weight: 600;
}

.stock-container {
  margin-bottom: 25px;
  padding-left: 12px;
}

@media (min-width: 768px) {
  .stock-container {
    padding-left: 30px;
  }
}