.selector__link {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 170px;
  height: 44px;
  text-align: left;
  padding: 14px;
  position: relative;
}

.selector__title {
  font-family: 'Open Sanz';
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #222;
  font-weight: normal;
  margin-bottom: 8px;
}

.selector__indicator {
  position: absolute;
  right: 14px;
}

.selector__content {
  display: none;
}

.selector__content--active {
  display: block;
  position: absolute;
  background-color: #fff;
  width: 170px;
  box-sizing: border-box;
}

.selector__option {
  padding: 14px;
}

.selector__option--active {
  background-color: #eee;
}

.selector {
  font-size: 12px;
  position: relative;
  font-family: 'Open Sans';
  display: inline-block;
  margin-left: 12px;
  color: #444444;
}

.selector__icon {
  transition: transform .15s linear;
}

.selector__icon--active {
  transform: rotateZ(-180deg);
}

@media (min-width: 768px) {
  .selector:first-of-type {
    margin-left: 30px;
  }
}

@media (min-width: 1024px) {
  .size-selector {
    white-space: nowrap;
  }
}