.header {
  text-align: center;
  order: -1;
}

.header__title {
  font-size: 22px;
  color: #222;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 2px;
  font-family: 'Abhaya Libre';
}

.header__price {
  font-size: 15px;
  color: #666;
  font-weight: 600;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-row: 2 / 3;
    order: initial;
  }
}