.carousel {
  margin-top: 20px;
  margin-bottom: 24px;
  text-align: center;
  white-space: nowrap;
  height: 375px;
  overflow: hidden;
}

.carousel__image {
  width: 375px;
  height: inherit;
}

.carousel__slider-image {
  width: 74px;
  height: 82px;
  display: none;
}

@media (min-width: 768px) {
  .carousel {
    height: 768px;
  }

  .carousel__image {
    width: 768px;
    height: inherit;
  }
}

@media (min-width: 1024px) {
  .carousel__slider-image {
    display: inline-block;
    margin-bottom: 10px;
  }

  .carousel__slider {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  .carousel {
    display: inline-flex;
    height: 768px;
    width: 652px;
    grid-row: 1 / 4;
  }

  .carousel__image {
    width: 100%;
    height: inherit;
  }
}