/* abhaya-libre-regular - latin */
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/abhaya-libre-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Abhaya Libre Regular'), local('AbhayaLibre-Regular'),
       url('./fonts/abhaya-libre-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/abhaya-libre-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/abhaya-libre-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/abhaya-libre-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/abhaya-libre-v4-latin-regular.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
